{#
  @file
  Default theme implementation
#}

{{ attach_library('bubble_sort_d8_module/bubble_sort_d8_css') }}

<div>
    <p>Hello World</p>
    <div class="button-container">
        {{ form_content }}
    </div>

    <div class="bubblesort-container">
        {{ table_content }}
    </div>

</div>